@import "bourbon/bourbon";

$box-sizing: content-box;
$height-img: 200px;
$width-img: 180px;
$height-footer: 14px;
$item-font-size: 12px;
$padding-container: 5px;
$size-arrow: 10px;
$size-collapsed: 25px;
$size-expanded: 300px;
$container-width-max: 780px;
$container-width-min: 220px;
$panel-width-min: 180px;
$shared-backgroundcolor: #303030;
$default-border-radius: 3px;
$size-scrollbar: 25px;

.dsmd-container {
  box-sizing: $box-sizing;
  position: relative;
  max-width: $container-width-max;
  min-width: $container-width-min;
  height: $size-collapsed;
  padding: $padding-container;
  border: 1px solid black;
  border-radius: $default-border-radius;
  margin: 1px;
  overflow: hidden;

  &.dsmd-animation {
    @include transition( height 0.4s linear );
  }

  &.dsmd-expanded {
    height: $size-expanded;
  }
}

.dsmd-title {
  box-sizing: $box-sizing;
  font-weight: bold;
  font-style: normal;
  line-height: $size-collapsed;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  a {
    box-sizing: $box-sizing;
    display: inline;
    margin-left: 5px;
    text-decoration: none !important;
    border-bottom: none !important;
  }
}

.dsmd-expander {
  display: inline;
  background-color: transparent;
  position: absolute;
  top: $size-collapsed / 2 ;
  right: $padding-container;
  z-index: 1;
  width: auto;
  height: 0;

  &:hover {
    cursor: pointer;
  }

  &.dsmd-expander-loading {
    @include animation( dsmd-expander-loading-rotate 1s linear infinite );
    top: 9px;
    right: 6px;
    height: 12px;
    width: 12px;
    border: 3px solid #303030;
    border-right-color: transparent;
    border-radius: 50%;
  }

  &.dsmd-expander-arrow-up {
    border-left: $size-arrow solid transparent;
    border-right: $size-arrow solid transparent;
    border-bottom: $size-arrow solid $shared-backgroundcolor;
  }

  &.dsmd-expander-arrow-down { border-left: $size-arrow solid transparent;
    border-right: $size-arrow solid transparent;
    border-top: $size-arrow solid $shared-backgroundcolor;
  }

  &.dsmd-expander-error {
    top: 7px;
    right: 5px;
    border: 2px solid red;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
  }

  &.dsmd-expander-error:after {
    content: '!';
    color: red;
    position: relative;
    top: -4px;
    font-weight: bolder;
    font-size: 19px;
    font-family: Helvetica, Arial, sans-serif;
  }
}

.dsmd-expander-errormsg {
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF;
  z-index: -10;
  border: 1px solid black;
  border-radius: $default-border-radius;
  box-shadow: 3px 3px 3px;
  padding: 3px;
  width: 150px;
  height: auto;
  font-size: 14px;
  opacity: 0;
  @include transition(opacity 0.15s linear);
}

.dsmd-expander-visible {
  opacity: 1 !important;
  @include transition(opacity 0.15s linear);
}

.dsmd-mech-image {
  box-sizing: $box-sizing;
  height: $height-img;
  max-width: $width-img;
  position: absolute;
  right: 15px + $size-scrollbar;
  //top: $size-expanded - $height-img - $padding-container;
  top: $size-collapsed + $padding-container + 30px;
  img {
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
  }

  &.dsmd-compact{
    opacity: 0.4;
    filter: alpha(opacity=40);
    right: 0;
    left: 0;
    width: 100%;
    margin: auto;
    //display: none !important;
    //visibility: hidden;
  }
}

.dsmd-panel {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  height: $size-expanded - 38;
  overflow-x: hidden;
  overflow-y: auto;

  &.dsmd-column {
    display: block;
    margin: 0 auto;
    width: 752px;
  }
}

.dsmd-subpanel {
  box-sizing: $box-sizing;
  position: relative;
  vertical-align: top;
  display: inline-block;
  margin: 0 3px 0 3px;
  min-width: $panel-width-min;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-style: normal;
      font-size: $item-font-size;
      padding: 2px;
      margin: 4px 2px;
      line-height: $item-font-size;

      &.dsmd-li-title {
        //border-bottom: 1px solid black;
        padding: 4px;
        background-color: $shared-backgroundcolor;
        color: white;
        font-weight: bold;
        margin-top: 3px;
        margin-bottom: 3px;
        border-radius: $default-border-radius;
      }
    }
  }

  &.dsmd-compact {
    display: block !important;
    max-width: inherit;
  }

  &.dsmd-column {
    width: 150px;
    min-width: 0; // Have to override the inherited min-width
    margin: 0;

    li{
      overflow: hidden;
      white-space: nowrap;
    }

    .dsmd-label {
      margin: -2px 4px 0 2px;
    }
  }
}

.dsmd-column-cell {
  border: 1px solid black;
  border-radius: $default-border-radius;
  margin: 2px 1px;
}

.dsmd-label {
  display: inline-block;
  position: absolute;
  right: 2px;
  padding: 2px 4px;
  margin: -2px 2px 0 2px;
  font-size: $item-font-size;
  font-weight: bold;
  line-height: $item-font-size;
  color: #fff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999;
  border-radius: $default-border-radius;

  &.dsmd-label-left {
    left: 2px;
    right: auto;
  }
}

.dsmd-compact .dsmd-label {
  right: 4px;
}

.dsmd-label-warning {
  background-color:#f89406
}

.dsmd-label-success {
  background-color: #468847
}

.dsmd-label-info {
  background-color: #3a87ad
}

.dsmd-label-dps, .dsmd-label-dmg, .dsmd-label-ammo, .dsmd-label-cld, .dsmd-label-speed {
  background-color: #468847
}

.dsmd-label-range, .dsmd-label-speed, .dsmd-label-cooling, .dsmd-label-hs {
  background-color: #3a87ad
}

.dsmd-label-mech-hardpoint-energy {
  background-color: #cb7834;
  color: #000
}

.dsmd-label-mech-hardpoint-missile {
  background-color: #6acd97;
  color: #000
}

.dsmd-label-mech-hardpoint-ams {
  background-color: #cc6664;
  color: #000
}

.dsmd-label-mech-hardpoint-ecm {
  background-color: #a1b051;
  color: #000
}

.dsmd-label-mech-hardpoint-ballistic {
  background-color: #846b95;
  color: #000
}

.dsmd-status {
  display: inline;
  position: absolute;
  line-height: $height-footer;
  top: $size-expanded - $height-footer - $padding-container;
  left: $padding-container;
  z-index: 1;
  width: auto;
  background: $shared-backgroundcolor;
  color: white;
  padding: 5px;
  font-size: 12px;
  border-radius: $default-border-radius;

  &.dsmd-compact {
    display: none;
  }

  &.dsmd-invalid {
    background: #780705
  }
}

.dsmd-view-buttons {
  display: inline;
  position: absolute;
  line-height: $height-footer;
  //top: ( $size-collapsed - $height-footer ) / 2;
  top: $padding-container;
  right: ( $size-arrow + $padding-container ) * 2;
  z-index: 1;
  width: auto;
  padding: 4px 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 2px;
  }

  li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  a {
    border-radius: $default-border-radius;
    background-color: #606060;
    text-decoration: none;
    padding: 5px;
    margin: 0;
    color: white;
    font-size: 12px;
    font-weight: bolder;
    font-family: Helvetica, Arial, sans-serif;
    line-height: $height-footer;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-bottom: 0 !important;

    &.active {
      background-color: #3a87ad;
    }
  }
}

.dsmd-faded {
  opacity: 0 !important;
  @include transition(opacity 0.05s linear);
}

.dsmd-hidden {
  display: none !important;
  visibility: hidden;
}

@include keyframes(dsmd-expander-loading-rotate) {
  0% {
    @include transform( rotate(0deg) );
  }
  100% {
    @include transform( rotate(360deg) );
  }
}